<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/sotusei.css" />
    <title>ユーザー更新</title>
</head>

<body>

    <header>
        <h1>ログ管理</h1>
        <p>今までの履歴を閲覧できます</p>
    </header>

	<nav>
		<ul>
			<li><a th:href="@{/homee}">ホーム</a></li>
			<li><a th:href="@{/ppassword}">本日のパスワード</a></li>
			<li><a th:href="@{/attend_list}">本日の出席情報</a></li>
			<li><a th:href="@{/linebot}">学生情報</a></li>
			<li><a th:href="@{/linebotupdata}">学生情報の更新</a></li>
			<li><a th:href="@{/attendlog}">過去の出席情報</a></li>
			<li><a th:href="@{/soutai}">早退申請</a></li>
			<li><a th:href="@{/classroom}">時間割管理</a></li>
		</ul>
	</nav>

    <main>
        <h2>ログ検索</h2>
        <!-- 検索フォーム -->
        <form th:action="@{/attendlog}" method="get">

			<select id="searchKinds" name="kinds">
				<option value="grade">学年</option>
				<option value="classroom">クラス</option>
				<option value="name">名前</option>
			</select> <input type="text" id="searchValue" name="search"
				th:value="${searchValue}" /> <input type="submit" value="Search">
		</form>

        <!-- 検索結果表示 -->
        <table border="1">
            <thead>
                <tr>
                    <th>名前</th>
                    <th>クラス</th>
                    <th>学年</th>
                    <th>1限目</th>
                    <th>時間</th>
                    <th>2限目</th>
                    <th>時間</th>
                    <th>3限目</th>
                    <th>時間</th>
                    <th>4限目</th>
                    <th>時間</th>
                    <th>出席日</th>
                    <th>PC番号</th>
                    <th>退出時間</th>
                    <th>復籍時間</th>
                </tr>
            </thead>
            <tbody>
                <!-- 結果リストの要素ごとにループ -->
                <tr th:each="result : ${selectResult}">
                    <td th:text="${result['user_name']}"></td>
                    <td th:text="${result['user_classroom']}"></td>
                    <td th:text="${result['user_grade']}"></td>
                    <td th:text="${result['class1']}"></td>
                    <td th:text="${result['class1time']}"></td>
                    <td th:text="${result['class2']}"></td>
                    <td th:text="${result['class2time']}"></td>
                    <td th:text="${result['class3']}"></td>
                    <td th:text="${result['class3time']}"></td>
                    <td th:text="${result['class4']}"></td>
                    <td th:text="${result['class4time']}"></td>
                    <td th:text="${result['day']}"></td>
                    <td th:text="${result['pc']}"></td>
                    <td th:text="${result['Exittime']}"></td>
                    <td th:text="${result['Entertime']}"></td>
                </tr>
            </tbody>
        </table>
    </main>

    <footer>
        <p>&copy; News Site. All Rights Reserved.</p>
    </footer>

</body>

</html>
