<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="/css/sotusei.css" />
	<title>出席情報</title>

</head>

<body>

	<header>
		<h1>生徒の出席情報を閲覧する</h1>
		<p>出席状況の確認</p>
	</header>

	<nav>
		<ul>
			<li><a th:href="@{/home}">ホーム</a></li>
			<li><a th:href="@{/passwordlist}">本日のパスワード</a></li>
			<li><a th:href="@{/attend_list}">本日の出席情報</a></li>
			<li><a th:href="@{/studentlist}">学生情報</a></li>
			<li><a th:href="@{/attendlog}">過去の出席情報</a></li>
			<li><a th:href="@{/soutai}">早退申請</a></li>
			<li><a th:href="@{/classroom}">時間割管理</a></li>
		</ul>
	</nav>
	<main>
		<h2>生徒検索</h2>
		<!-- 検索フォーム -->
		<form th:action="@{/attend_list}" method="get">

			<input type="text" id="searchValue" name="search" th:value="${searchValue}" /> <input type="submit"
				value="Search">
		</form>

		<!-- 検索結果表示 -->
		<table>
			<thead>
				<tr>
					<th>名前</th>
					<th>学年</th>
					<th>クラス</th>
					<th>PC番号</th>
					<th>1限目</th>
					<th>時間</th>
					<th>2限目</th>
					<th>時間</th>
					<th>3限目</th>
					<th>時間</th>
					<th>4限目</th>
					<th>時間</th>
					<th>退出時間</th>
					<th>復籍時間</th>
					<th>編集</th>
				</tr>
			</thead>
			<tbody>
				<!-- 結果リストの要素ごとにループ -->
				<tr th:each="result : ${selectResult}">
					<td th:text="${result['user_name']}"></td>
					<td th:text="${result['user_grade']}"></td>
					<td th:text="${result['user_classroom']}"></td>
					<td th:text="${result?.user_pc}"></td>
					<td th:text="${result['class1']}"></td>
					<td th:text="${result['class1time']}"></td>
					<td th:text="${result['class2']}"></td>
					<td th:text="${result['class2time']}"></td>
					<td th:text="${result['class3']}"></td>
					<td th:text="${result['class3time']}"></td>
					<td th:text="${result['class4']}"></td>
					<td th:text="${result['class4time']}"></td>
					<td th:text="${result['Exittime']}"></td>
					<td th:text="${result['Entertime']}"></td>
					<td class="linkbuttontd"><a class="linkbutton"
							th:href="@{/attendedit(user_id=${result['user_id']}, user_name=${result['user_name']}, user_grade=${result['user_grade']}, user_classroom=${result['user_classroom']}, user_pc=${result?.user_pc}, class1=${result['class1']}, class1time=${result['class1time']}, class2=${result['class2']}, class2time=${result['class2time']}, class3=${result['class3']}, class3time=${result['class3time']}, class4=${result['class4']}, class4time=${result['class4time']}, Exittime=${result['Exittime']}, Entertime=${result['Entertime']})}">編集</a>
					</td>






				</tr>
			</tbody>
		</table>

	</main>
	<footer>
		<p>&copy; KRC.</p>
	</footer>

</body>

</html>