<!DOCTYPE html>
<html lang="ja">

<!DOCTYPE html>
<html>

<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="/css/sotusei.css" />

<title>パスワード表示</title>
<style>
</style>
</head>

<body>


			<header>
				<h1>管理者ホーム</h1>
				<p>出席状況やPWの変更が可能です</p>
			</header>
	<nav>
		<ul>
			<li><a th:href="@{/homee}">ホーム</a></li>
			<li><a th:href="@{/ppassword}">本日のパスワード</a></li>
			<li><a th:href="@{/attend_list}">本日の出席情報</a></li>
			<li><a th:href="@{/linebot}">学生情報</a></li>
			<li><a th:href="@{/linebotupdata}">学生情報の更新</a></li>
			<li><a th:href="@{/attendlog}">過去の出席情報</a></li>
			<li><a th:href="@{/soutai}">早退申請</a></li>
		</ul>
	</nav>


			<main>
				<h2 >現在のパスワード</h2>

				<p ID=pass th:text="${pass}"></p>


			</main>

			<footer>
				<p>&copy; News Site. All Rights Reserved.</p>
			</footer>


</body>

</html>