<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" type="text/css" href="/css/sotusei.css"/>
	
    <style>
		
	</style>
</head>

<body>
	<h2>管理者ログインページ</h2>
	<form th:action="@{/login}" method="POST">
		<div class="form-group">
			<label for="user_grade">学年</label>
			<input type="text" name="user_grade"><br>

			<label for="user_classroom">クラス</label>
			<input type="text" name="user_classroom"><br>
			
			<label for="user_name">名前</label>
			<input type="text" name="user_name"><br>

			<button type="submit" class="btn btn-primary">ログイン</button>
		</div>
		<p>まだ登録されていない管理者様はこちらから。</p>
		<a href="http://localhost:8080/newuser">新規登録ページ</a>
	</form>
</body>



</html>