<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" type="text/css" href="/css/sotusei.css"/>
	
    <style>
		
		
	</style>
</head>

<body>
	<h1>ログインに失敗しました</h1>
	<form th:action="@{/login}" method="POST">
		<div class="form-group">
			<label for="user_grade">ログインID</label>
			<input type="text" name="user_grade"><br>

			<label for="user_classroom">クラス</label>
			<input type="text" name="user_classroom"><br>
			
			<label for="user_name">名前</label>
			<input type="text" name="user_name"><br>

			<button type="submit" class="btn btn-primary">ログイン</button>
		</div>
	</form>
</body>

</html>