<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" type="text/css" href="/css/sotusei.css"/>
	
    <style>
		
	</style>
</head>

<body>
	<form action="/newuser" method="post">
		<label for="user_grade">学年:</label><br>
		<input type="text" id="user_grade" name="user_grade" required maxlength="10"><br>
		<label for="user_classroom">クラス:</label><br>
		<input type="user_classroom" id="user_classroom" name="user_classroom" required maxlength="10"><br>
		<label for="user_name">名前:</label><br>
		<input type="text" id="user_name" name="user_name" required maxlength="10"><br>
		
		<input type="submit" value="登録">
	</form>
	<a href="http://localhost:8080/login">ログインページに戻る。</a>
	<p th:text="${message}"></p>
</body>

</html>