<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/sotusei.css" />
    <title>パスワード表示</title>
</head>

<body>

    <header>
        <h1>パスワードの閲覧</h1>
        <p>1日のパスワードの閲覧が可能です</p>
    </header>

    <nav>
        <ul>
            <li><a th:href="@{/homee}">ホーム</a></li>
            <li><a th:href="@{/linebot}">学生情報</a></li>
            <li><a th:href="@{/ppassword}">本日のパスワード</a></li>
            <li><a th:href="@{/linebotupdata}">生徒情報の更新</a></li>
            <li><a th:href="@{/attend_list}">出席情報</a></li>
            <li><a th:href="@{/attendlog}">過去のログ</a></li>
            <li><a th:href="@{/soutai}">早退理由</a></li>
        </ul>
    </nav>

    <main>
        <form th:action="@{/ppassword}" method="POST">
            <h2>本日のPW一覧</h2>
            <table border="1">
                <thead>
                    <tr>
                        <th>1限目のパスワード</th>
                        <th>2限目のパスワード</th>
                        <th>3限目のパスワード</th>
                        <!-- 他のカラムも同様に修正 -->
                    </tr>
                </thead>
                <tbody>
                    <tr th:if="${selectResult != null}" th:each="result : ${selectResult}">
                        <td th:text="${result?.first}">1限目のパスワード</td>
                        <td th:text="${result?.second}">2限目のパスワード</td>
                        <td th:text="${result?.third}">3限目のパスワード</td>
                        <!-- 他のカラムも同様に修正 -->
                    </tr>
                </tbody>
            </table>
        </form>
    </main>

    <footer>
        <p>&copy; News Site. All Rights Reserved.</p>
    </footer>

</body>

</html>
